# Configuration Variables

profile                   = ""
project                   = ""
environment               = ""
exa_image_id              = "" # EXASOL-6.0.6-4-BYOL or EXASOL-6.0.6-4
exa_license_file_path     = "" # used only if imageId is BYOL
exa_db_password           = ""
exa_db_node_count         = "3"
exa_db_node_type          = "m4.2xlarge"
exa_db_replication_factor = "1"
exa_db_standby_node       = "0"
emr_release_label         = "emr-5.19.0"
emr_master_type           = "m4.xlarge"
emr_master_count          = "1"
emr_core_type             = "m4.2xlarge"
emr_core_count            = "3"
# These are only required for testing s3 import,
# they for my personal tests. You can keep them empty.
aws_s3_access_key         = ""
aws_s3_secret_key         = ""
