profile                   = ""
project                   = ""
environment               = ""
exa_db_password           = ""
exa_db_node_count         = "3"
exa_db_replication_factor = "1"
exa_db_standby_node       = "0"
emr_release_label         = "emr-5.17.0"
emr_master_type           = "m4.xlarge"
emr_master_count          = "1"
emr_core_type             = "m4.2xlarge"
emr_core_count            = "3"
